@page "/quiz/new"
@attribute [Authorize]
<PageTitle>Add Quiz</PageTitle>

<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Add Quiz</h5>
    </div>

    <div class="card-body">
        <QuizCreateForm />
    </div>
</div>
